arrow==1.4.0
asgiref==3.11.1
binaryornot==0.6.0
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
cookiecutter==2.7.1
coverage==7.14.0
crispy-tailwind==1.0.3
Django==6.0.5
django-axes==8.3.1
django-crispy-forms==2.6
django-environ==0.13.0
django-tailwind==4.4.2
flake8==7.3.0
honcho==2.0.0
idna==3.15
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
narwhals==2.21.0
numpy==2.4.4
packaging==26.2
pandas==3.0.3
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
plotly==6.7.0
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytailwindcss==0.3.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytokens==0.4.1
PyYAML==6.0.3
requests==2.34.1
rich==15.0.0
six==1.17.0
sqlparse==0.5.5
text-unidecode==1.3
tzdata==2026.2
urllib3==2.7.0
